.blog{
    display: grid;
    width: 80%;
    grid-template-columns: 2fr 3fr 2fr;
    height: auto;
    background-color:hsl(300,100%,25%,0.1);
    margin-left: 10em;
}

.blog:last-child{
    margin-bottom: 5em;
}




