.container{
    margin: 0 auto;
    width: 70%;
    height:70vh;
    padding: 5em 2em;
    
}

.post{
    
    background-color: lightblue ;
    border: 1px solid black;
    border-radius: 10px;
}

.post p{
    padding: 0.5em;
}